<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="André Miller">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="André Miller professional website">
    <title>André Miller</title>
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <h1 id="webname">André Miller</h1>
        <nav>
            <a class="link" href="../index.html">Home</a> 
            <a class="link" href="cv.html">CV</a> 
            <a class="link" href="contact.html">Contact Me!</a> 
            <a class="link" href="for-fun.html">For fun!</a> 
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form class="contact-form" onsubmit="validate(event)" novalidate>
            <label for="name">Your name (required): </label>
            <input type="text" id="name" name="name" required>
            <span class="error-message" id="nameError"></span>
        
            <label for="email">Your email (required): </label>
            <input type="email" id="email" name="email" required>
            <span class="error-message" id="emailError"></span>
        
            <label for="comment">Your comment (required): </label>
            <textarea id="comment" name="comment" rows="5" cols="30" required></textarea>
            <span class="error-message" id="commentError"></span>
        
            <input type="submit" value="Submit" class="button">
        </form>
        <table class="table">
            <tr>
                <td>Email: </td>
                <td>andremillerbr@gmail.com</td>
            </tr>
            <tr>
                <td>Phone: </td>
                <td>(225)362-6217</td>
            </tr>
            <tr>
                <td>LinkedIn: </td>
                <td>LinkedIn: https://www.linkedin.com/in/andré-miller/</td>
            </tr>
        </table>
    </div>
    <footer>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <p id="copyYear"> Designed and coded by André Miller &copy; </p>
    </footer>
</body>
</html>