<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="André Miller">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="André Miller professional website">
    <title>André Miller</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>André Miller</h1>
        <nav>
            <a href="../index.html">Home</a> |
            <a href="cv.html">CV</a> |
            <a href="contact.html">Contact Me!</a> |
            <a href="for-fun.html">For fun!</a> 
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Your name (required): </label><br>
            <input type="text" id="name" name="name"><br><br>
            
            <label for="email">Your email: </label><br>
            <input type="email" id="email" name="email"><br><br>
            
            <label for="comment">Your comment: </label><br>
            <textarea id="comment" name="comment" rows="5" cols="30"></textarea><br><br>
            
            <input type="submit" value="Submit">
        </form>
        <table>
            <tr>Email: andremillerbr@gmail.com <br></tr>
            <tr>Phone: (225)362-6217 <br></tr>
            <tr>LinkedIn: https://www.linkedin.com/in/andré-miller/ <br></tr>
        </table>
    </div>
    <footer>
        <p>&copy; Designed and coded by André Miller.</p>
    </footer>
</body>
</html>
