<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="André Miller">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="André Miller professional website">
    <title>André Miller</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>André Miller</h1>
        <nav>
            <a href="../index.html">Home</a> |
            <a href="cv.html">CV</a> |
            <a href="contact.html">Contact Me!</a> |
            <a href="for-fun.html">For fun!</a> 
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Descritpion</th>
            </tr>
            <tr>
                <td>TartanHacks2024 4th Place Overall</td>
                <td>Mason Bee House</td>
            </tr>
            <tr>
                <td>Assisted in programming a robot capable of communicating <br>
                    with a user in American Sign language. Designed and built<br>
                    a rig using CAD to grant the hand 2 extra degrees of freedom.</td>
                <td>Designed and built a house for solitary bees, synthesizing<br>
                    5 client requests for the house while doing research on <br>
                    survival demands for bees.</td>
            </tr>
        </table>
        <nav>
            <p><a href="../static/resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a></p>
        </nav>
    </div>
    <footer>
        <p>&copy; Designed and coded by André Miller.</p>
    </footer>
</body>
</html>
