<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="André Miller">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="André Miller professional website">
    <title>André Miller</title>
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <h1 id="webname">André Miller</h1>
        <nav>
            <a class="link" href="../index.html">Home</a> 
            <a class="link" href="cv.html">CV</a> 
            <a class="link" href="contact.html">Contact Me!</a> 
            <a class="link" href="for-fun.html">For fun!</a> 
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun!</h2>
        <dl>
            <dt>Pokémon Cards/Pokémon in general</dt>
            <dt> Listening to music</dt>
            <dd>- Favorites are Radiohead, Elliott Smith, Beabadoobee, Dean Blunt, and Title Fight.</dd>
            <dd>- I will listen to pretty much anything from rock/folk to reggaeton/rap, and would love to talk more!</dd>
            <dt>Watch the New Orleans Pelicans (Next year is our year!).</dt>
        </dl>
    </div>
    <footer>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <p>&copy; Designed and coded by André Miller.</p>
    </footer>
</body>
</html>