<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="André Miller">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="André Miller professional website">
    <title>André Miller</title>
    <script src="../static/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <h1 id="webname">André Miller</h1>
        <nav>
            <a class="link" href="../index.html">Home</a> 
            <a class="link" href="cv.html">CV</a> 
            <a class="link" href="contact.html">Contact Me!</a> 
            <a class="link" href="for-fun.html">For fun!</a> 
        </nav>
    </header>
    <div class="funsection">
        <div id="item1">
            <h2>Things I love to do for fun!</h2>
            <!-- <button id="showButton" onclick="showList()">Click to see...</button> -->
            <ul id="funList">
                <li>Pokémon Cards/Pokémon in general</li>
                <li> Listening to music: <br>
                Favorites are Radiohead, Elliott Smith, Beabadoobee, Dean Blunt, and Title Fight. <br>
                I will listen to pretty much anything from rock/folk to reggaeton/rap, and would love to talk more!</li>
                <li>Watch the New Orleans Pelicans (Next year is our year!).</li>
            </ul>
        </div>
        <div id="item2">
            <img id="mompic" src="../views/mom.png" alt="mom">
        </div>
        <div id="item3">
            <iframe id="vid" width="250" height="250" 
            src="https://www.youtube.com/embed/3176Sw8A0EE">
            </iframe>
        </div>
        <div class="container" id="item4">
            <h2>Need some advice?</h2>
            <p id="adviceText">Click the button to get a piece of advice!</p>
            <button onclick="getAdvice()">GetAdvice</button>
        </div>
    </div>
    <footer>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <p id="copyYear"> Designed and coded by André Miller &copy; </p>
    </footer>
</body>
</html>