* {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 5px;
    margin: 5px;
}

.link {
    text-decoration: none;
    color: #075900
}

.button {
    background-color: #92ad70;
    border: none;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.contact-form {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: fit-content;
    display: block;
    margin: auto;
    text-align: center;
    padding: 12px;
    background-color: #92ad70;
    color: #eeeeee
} 

th, td {
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #5e905a;
}

#webname {
    background-color: #92ad70;
}

#funList {
    display: none;
}

#showButton {
    background-color: #5e905a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#showButton:hover {
    background-color: #075900
}

#readLess {
    background-color: #5e905a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

#readLess:hover {
    background-color: #075900
}

#readMore {
    background-color: #5e905a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

#readMore:hover {
    background-color: #075900
}

#long {
    display: none;
}
#short {
    display: block;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}

.input-error {
    border: 2px solid red;
    background-color: #ffe6e6;
}